
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.gstatic.com');

// Variables
@import 'partials/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Navbar
@import 'partials/navbar';

.footie {
    background-color: $myblue;
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 75px;
}

.featurie {
    background-color: $myblue;
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 75px;
}

.searchie {
    background-color: $myblue;
    margin-top: 75px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 75px;
}

.btn{
    background-color: $myyellow;
    color: $myblue;
}

.btn-secondary{
    background-color: $myyellow;
    color: $myblue;
}

.btn-block {
    background-color: $myyellow;
    color: $myblue;
}

.jumbotron {
    background-color: $myred;
}
